html,
body {
	margin: 0;
	height: 100%;
	scroll-behavior: smooth;
	--dark: #04060d;
	--white: #ffffff;
	--gray: #37373d;
	--light: #d3d4d7;
	--dark-bg: #1e1e1e;
	--light-bg: #252525;
	--navbar-bg: var(--dark);
	--alt-white: #d3d3d3;
	--light-green: #90ee90;
	--dark-green: #005c14;
	/* #FFBB54 more orange */
}

body {
	font-family: "Montserrat", sans-serif;
	margin-inline: auto;

	background-color: var(--dark-bg);

	color: var(--white);
}

@keyframes bg-animate {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

/* .content {
} */

/* Navigation Bar */
.navbar {
	background-color: var(--navbar-bg);
	border-radius: 0 0 30px 30px;
	max-width: 72rem;
	min-height: 5rem;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	transition: 0.3s;
}

.navbar-nav {
	margin-left: auto;
}

.navbar-toggler {
	background-image: white;
}

.nav-item {
	padding: 0px;
	margin: 10px;
}

.nav-link,
.nav-link:focus {
	padding: 10px;
	color: #ffffff;
	border-radius: 2rem;
	border: rgba(255, 255, 255, 0.6) solid 2px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
	width: fit-content;
}

.nav-link:hover {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.1);
}

.name,
.name:hover,
.name:focus {
	font-size: 2em;
	text-decoration: none;
	color: #ffffff;
}

/* Welcome Section */
.welcome-container {
	padding-top: 10rem;
	padding-bottom: 8rem;
}

.welcome-content {
	max-width: 55rem;
	margin: auto;
	padding: 5px;
}

.hi {
	padding-top: 3.5rem;
	font-size: 5rem;
}

.site-description {
	padding-top: 3rem;
	font-size: 2.4rem;
}

.photo {
	/* overflow: hidden; */
	margin-left: 3rem;
	border-radius: 100%;
	max-width: 20rem;
	float: right;
	box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.6);
}

/* Main Containers */
.container-even {
	background-color: var(--light-bg);
}

/* .container-main {
} */

/* Sections Heading */
.heading-container {
	justify-content: center;
	display: flex;
	/* margin-block: 1rem; */
}

.heading {
	font-size: 3rem;
	/* font-style: italic; */
}

/* About Section */
.about-container {
	padding-block: 4rem;
}

.about-content {
	padding-top: 3rem;
	max-width: 60rem;
	margin: auto;
	font-size: 1.5rem;
}

/* .about1 {
	text-align: end;
}

.about2 {
	text-align: start;
} */

li {
	padding-left: 100px;
	list-style-type: none;
}

.about-paragraph {
	display: flex;
	/* border: black 2px solid; */
	border-radius: 3rem;
	padding: 1rem;
	height: fit-content;
}

/* Journey Section */

.journey-container {
	padding-top: 3rem;
}

.journey-content {
	/* padding-top: 3rem; */
	max-width: 55rem;
	margin: auto;
}

.timeline {
	padding-top: 3rem;
}

.period {
	display: flex;
	justify-content: space-between;
}

.period-connector {
	display: flex;
	flex-flow: column;
}

.period-circle {
	border-radius: 100%;
	border: var(--white) solid 3px;
	width: 5rem;
	height: 5rem;
}

.period-line {
	border: 1px var(--white) dashed;
	flex: 1;
	width: 1px;
	align-self: center;
}

.period-info {
	background-color: var(--alt-white);

	color: var(--dark);
	height: 100%;
	width: 85%;
	padding: 1.2rem;
	box-shadow: 5px 5px 10px black;
	border-radius: 1rem;
	margin-bottom: 5rem;
}

.period-top {
	display: flex;
}

.period-role {
	font-weight: 700;
	font-size: 3rem;
}

.period-time {
	background-color: var(--light-green);
	align-self: center;
	margin-left: auto;
	margin-bottom: auto;
	padding: 0.6rem 1.8rem;
	border-radius: 15px;
	color: var(--dark-green);
	font-style: italic;
	font-size: 1.5rem;
}

.period-place {
	font-style: italic;
	font-size: 1.8rem;
}

.period-description {
	font-style: italic;
	font-size: 1.2rem;
	color: var(--gray);
}

/* Projects Section */

.projects-container {
	padding-block: 4rem;
}

.projects-content {
	padding-top: 3rem;
	max-width: 55rem;
	margin: auto;
}

.card {
	text-decoration: none;
	background: var(--dark);
	color: var(--white);
}

.card-text {
	font-size: 1rem;
}

.card-title {
	font-size: 1.5rem;
}

.card-img {
	overflow: hidden;
}

.card-img-top {
	transition: 200ms transform ease-in-out;
	aspect-ratio: 16/9;
	object-fit: cover;
}

.card:hover > .card-img > img {
	transform: scale(1.05);
}

.card:hover {
	color: var(--white);
}

/* Contact Section */
.contact-container {
	background: var(--dark);
}

.contact-links {
	font-size: 1rem;
	display: flex;
	justify-content: center;
	gap: 10rem;
}

.contact-box {
	margin-inline: 5rem;
	padding-block: 0.5rem;
}

.contact-box > .contact-links > a > i {
	font-size: 2rem;
}

.contact-link-text {
	margin-left: 0.5em;
	align-self: center;
	font-style: italic;
}

.contact-links > a {
	text-decoration: none;
	display: flex;
	color: var(--white);

	padding: 0.5rem;
	border-radius: 1rem;
}

.contact-links > a:hover {
	transition: 200ms;
	background-color: rgb(255, 255, 255, 0.1);
}

.contact-links > a > i {
	font-size: 2rem;
}

@media (max-width: 60rem) {
	.navbar {
		display: none;
	}

	.welcome-container {
		padding-top: 2rem;
	}
}
/* 
40rem - phone
60rem - tablet
80rem - tablet landscape
120rem - desktop
*/
