html,
body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	line-height: 1.5;

	--dark: #1e1e1e;
	--gray: #252525;
	--light-gray: #37373d;
	--white: #ffffff;
	--light: #d3d3d3;

	--dark-bg: black;
	--light-bg: white;
	--navbar-bg: var(--dark-bg);

	--blue: #007acc;
	--light-blue: #9cdcfe;
	--dark-blue: #569cd6;
	--green: #17825d;
	--orange: #ce9178;

	--border-size: 1px;
	--border-color: var(--light);
	--border-style: dashed;
}

*,
::after,
::before {
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
	background-color: var(--dark-bg);
	color: var(--white);
}

::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-track {
	background: var(--dark-bg);
}

::-webkit-scrollbar-thumb {
	background: var(--white);
}

/* Navigation Bar */
.navbar {
	height: 4rem;
	display: flex;
	border-bottom: 3px var(--light) solid;
}

.navbar-contents {
	max-width: 80rem;
	height: 100%;
	margin-inline: auto;
	flex: 80rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-weight: normal;
	margin: 0;
}

.navbar-name {
	font-size: 1.25rem;
	text-decoration: none;
	color: var(--white);
	padding-left: 1rem;
}

.navbar-links {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
}

.nav-item {
	list-style: none;
	height: 100%;
}

.nav-link {
	text-decoration: none;
	color: var(--white);
	display: block;

	align-content: center;
	text-align: center;

	height: 100%;
	width: 10rem;
}

.nav-link:hover,
.nav-link:focus {
	background-color: var(--light-gray);
}

/* Welcome Section */
/* .welcome-container {
} */

.welcome-content {
	padding-block: 10rem;
	margin: auto;
	max-width: 80rem;
}

.hi {
	padding-top: 5rem;
	font-size: 6rem;
}

.hero {
	padding-top: 1rem;
	padding-left: 1rem;
	max-width: 45rem;

	font-size: 1.25rem;
	text-align: left;
	color: var(--light);
}

.photo {
	margin-left: 2rem;
	max-width: 22.5rem;

	border: 3px var(--white) solid;
	float: right;
}

/* Sections Heading */
.heading-container {
	padding: 3rem;
}

.heading {
	font-size: 3rem;
}

/* About Section */
.about-container {
	background-color: var(--light-bg);
	color: var(--dark);
}

.about-content {
	margin: auto;
	padding-block: 5rem;
	max-width: 80rem;

	display: flex;
}

.about-heading {
	display: flex;
	padding: 0rem;
}

.about-photo {
	flex: 1;

	padding-inline: 2rem;
}

.about-photo > img {
	width: 100%;

	background-color: var(--dark-bg);
	border: 3px var(--dark) solid;
}

.about-text {
	flex: 1;
	font-size: 1rem;
}

/* Projects Section */

.projects-container {
}

.projects-content {
	max-width: 100rem;
	margin: auto;
	padding-bottom: 5rem;
}

.projects-heading {
	display: flex;
	justify-content: center;
}

.card-row {
	width: 100%;
	/* padding: 3rem; */

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/* gap: 3rem; */
}

.card-group {
	display: flex;
}

.card {
	--transition-time: 500ms;
	--transition-style: cubic-bezier(0.3, 0.9, 0.3, 0.9);
	display: block;
	text-decoration: none;
	background: var(--dark);
	border: 3px var(--white) solid;
	max-width: 20rem;

	/* position: relative; */
	overflow: hidden;

	transition: transform var(--transition-time) var(--transition-style),
		box-shadow var(--transition-time) var(--transition-style);
}

.card-img {
	overflow: hidden;
}

.card-img > img {
	width: 100%;
	aspect-ratio: 1/1;
	scale: 1.2;
}

.card-body {
	color: var(--white);
	display: block;
	transition: var(--transition-time) opacity var(--transition-style);
}

.card-bottom {
	bottom: 0;
	padding: 0.5rem;

	background-color: var(--dark-bg);
	border-top: 3px var(--white) solid;
}

.card-title {
	font-size: 2em;
	transition: var(--transition-time) transform var(--transition-style);
}

.card-text {
	font-size: 1rxem;

	transition: var(--transition-time) transform var(--transition-style);
}

/* .card:hover > .card-body {
	opacity: 0;
} */

.card:hover {
	box-shadow: 0 0 5rem 0 black;
	transform: scale(1.2);
	z-index: 1;
}

/* .card:hover > .card-body > .card-bottom > .card-title {
	transform: translateX(-20rem);
}

.card:hover > .card-body > .card-bottom > .card-text {
	transform: translatey(5rem);
} */

/* Journey Section */

.journey-container {
	background-color: var(--light-bg);
	color: var(--dark);
}

.journey-content {
	max-width: 80rem;
	margin: auto;
	display: flex;

	border-top: none;
}

.journey-heading {
	flex: 1;
	display: flex;
	align-items: center;
}

.timeline {
	flex: 2;
	font-size: 1.25rem;

	display: flex;
	flex-direction: column;
}

.period-info {
	border-left: 3px var(--dark) solid;
	border-right: 3px var(--dark) solid;
	padding: 2rem;
}

.period-description {
	font-size: 1.2rem;
	line-height: 2;
	color: var(--dark);
}

.period-top {
	display: flex;
}

.period-role {
	font-weight: 600;
	font-size: 2.5rem;
	text-wrap: nowrap;
	color: var(--dark-blue);
}

.period-time {
	align-self: center;
	margin-left: auto;
	margin-bottom: auto;

	font-size: 1.5rem;
}

.period-place {
	font-size: 1.6rem;
	padding-block: 1rem;
}

/* Contact Footer */
.contact-container {
	background: var(--dark-bg);
}

.contact-links {
	font-size: 1em;
	display: flex;
	justify-content: space-around;
}

.contact-box {
	margin-inline: 5rem;
}

.contact-box > .contact-links > a > i {
	font-size: 2rem;
}

.contact-link-text {
	margin-left: 0.5em;
	align-self: center;
	font-style: italic;
}

.contact-links > a {
	text-decoration: none;
	display: flex;
	color: var(--white);
	cursor: pointer;
	padding: 1rem;
}

.contact-links > a:hover {
	background-color: var(--light-gray);
}

.contact-links > a > i {
	font-size: 2em;
}

.contact-email-copy {
	padding: 0.75rem;
	margin-top: -4.5rem;
	border-radius: 1rem;
	color: white;
	background-color: var(--dark);
	border: none;
	/* border-bottom: 1rem solid var(--dark); */
}

.arrow-down {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 40%);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid var(--dark);
}

/* Projects Pages */

.project-about-content,
.project-tools-content,
.project-lessons-content,
.project-links-content {
	max-width: 55rem;
	margin: auto;
	padding-block: 4rem;
}

.project-tools-content {
	max-width: 60rem;
}

.project-tools-container,
.project-links-container {
	background-color: var(--dark-bg);
	box-shadow: inset 0 20px 20px -20px black, inset 0 -20px 20px -20px black;
}

/* .project-about-container {
	padding-top: 2rem;
} */

.project-link-container {
	display: flex;
	flex-direction: row;
}

.project-link-icon {
	font-size: 1.75rem;
}

.project-link-text {
	display: flex;
	align-items: center;
	padding-left: 0.5rem;
	font-size: 0.8rem;
	text-decoration: underline;
	color: var(--light);
}

.project-about-content {
	display: flex;
	color: var(--light);
	font-size: 1.1rem;
	gap: 3rem;
}

.project-heading {
	font-size: 2rem;
	color: var(--white);
	padding-bottom: 1rem;
}

.project-about-text {
	flex: 1;
}

.project-img {
	max-height: 25rem;
	max-width: 25rem;
	aspect-ratio: 1/1;
	border: black solid 2px;
	border-radius: 3rem;
	overflow: hidden;
	background-color: black;
}

.project-img > img {
	width: 100%;
	height: 100%;
	aspect-ratio: 1/1;
	margin: auto;
	scale: 1.2;
}

.project-tool {
	display: flex;
}

.tool-name {
	font-size: 1.2rem;
}

.tool-description {
	color: var(--light);
	display: flex;
	align-items: center;
	padding-left: 0.5rem;
}

.project-tools-icons {
	padding-top: 1rem;
	font-size: 3rem;
	display: flex;
	gap: 1rem;
	justify-content: end;
}

.project-lessons-text {
	color: var(--light);
	font-size: 1.1rem;
}

@media (max-width: 60rem) {
	.navbar {
		display: none;
	}

	.welcome-content,
	.about-content,
	.projects-content {
		max-width: 38rem;
		margin: auto;
	}

	.welcome-container {
		padding-top: 3rem;
		padding-bottom: 5rem;
	}

	.hi {
		font-size: 3.5rem;
	}

	.photo {
		max-width: 15rem;
		margin-left: 0;
	}

	.site-description {
		font-size: 1.8rem;
		padding-inline: 0.6rem;
	}

	.about-paragraph {
		flex-direction: column;
		gap: 1rem;
	}

	.about1 {
		margin-left: 20%;
	}

	.about2 {
		margin-right: 20%;
	}

	.card-row {
		margin: auto;
		width: 95%;
	}

	.card {
		max-width: 15rem;
	}

	.card-bottom {
		font-size: 0.75rem;
	}

	.contact-form-content {
		flex-direction: column;
	}

	.contact-form-text {
		margin-top: 3em;
	}

	.contact-form {
		padding-inline: 10%;
	}

	.contact-box {
		margin: 0;
	}

	.contact-links {
		font-size: 0.8rem;
	}

	/* Project Pages */

	.project-about-content {
		flex-direction: column-reverse;
	}

	.project-about-content,
	.project-tools-content,
	.project-lessons-content {
		max-width: 38rem;
	}

	.project-img {
		max-width: none;
		max-height: none;
	}

	.project-tool {
		margin-bottom: 1rem;
		display: block;
	}
}
@media (max-width: 40rem) {
	.welcome-content,
	.about-content,
	.projects-content {
		max-width: 19rem;
	}

	.heading {
		font-size: 2rem;
	}

	.photo {
		max-width: 7rem;
	}

	.hi {
		font-size: 1.6rem;
		padding-top: 2rem;
	}

	.site-description {
		font-size: 1rem;
		padding-block: 1rem;
		padding-inline: 0rem;
	}

	.about-content {
		font-size: 1rem;
	}

	.about1,
	.about2 {
		margin: 0;
	}

	.contact-link-text {
		display: none;
	}

	/* More About Page */

	.background-text {
		margin: 0.5rem;
	}

	/* Project Pages */
	.project-about-content,
	.project-tools-content,
	.project-lessons-content {
		max-width: 18rem;
	}

	.project-about-text,
	.project-tools-text,
	.project-lessons-text {
		font-size: 0.75rem;
	}

	.project-heading {
		font-size: 1.75rem;
	}
}
/* 
40rem - phone
60rem - tablet
80rem - tablet landscape
120rem - desktop
*/
