html,
body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	line-height: 1.5;

	--dark: #1e1e1e;
	--white: #ffffff;
	--gray: #37373d;
	--light: #d3d4d7;
	--dark-bg: #252525;
	--light-bg: #323232;
	--navbar-bg: var(--dark);
	--alt-white: #d3d3d3;
	--light-green: #90ee90;
	--dark-green: #005c14;
}

*,
::after,
::before {
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: "Montserrat", sans-serif;

	background-color: var(--light-bg);

	color: var(--white);
}

::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-track {
	background: var(--dark-bg);
}

::-webkit-scrollbar-thumb {
	background: var(--white);
}

/* Navigation Bar */
.navbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 3;

	background-color: var(--navbar-bg);
	border-radius: 0 0 30px 30px;
	max-width: 72rem;
	margin: auto;
	padding: 1rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0);
	transition: 0.3s;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

.navbar-name {
	font-size: 2rem;
	text-decoration: none;
	color: #ffffff;
}

.navbar-links {
	margin: 0;
	display: flex;
	gap: 1rem;
}

.nav-item {
	list-style: none;
}

.nav-link {
	text-decoration: none;
	color: #ffffff;
	border-radius: 10rem;
	border: var(--light) solid 2px;

	padding-block: 0.8em;
	padding-inline: 0.6em;
}

.nav-link:hover,
.nav-link:focus {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.1);
}

/* Welcome Section */
.welcome-container {
	padding-top: 10rem;
	padding-bottom: 8rem;
}

.welcome-content {
	max-width: 55rem;
	margin: auto;
}

.hi {
	padding-top: 3.5rem;
	font-size: 5rem;
}

.site-description {
	font-size: 2.4em;
	padding-block: 2.4rem;
}

.photo {
	/* overflow: hidden; */
	margin-left: 3rem;
	border-radius: 100%;
	max-width: 20rem;
	float: right;
	box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.6);
}

/* Main Containers */
.container-even {
	background-color: var(--dark-bg);
	box-shadow: inset 0 20px 20px -20px black, inset 0 -20px 20px -20px black;
}

/* .container-main {
} */

/* Sections Heading */
.heading-container {
	justify-content: center;
	display: flex;
}

.heading {
	font-size: 3rem;
	font-weight: 700;
}

/* About Section */
.about-container {
	padding-block: 4rem;
}

.about-content {
	padding-block: 3rem;
	font-size: 1.5em;
	margin-inline: auto;
}

.about-paragraph {
	display: flex;
	gap: 3rem;
	justify-content: center;
	align-items: center;
}

.about1 {
	text-align: end;
}

.about2 {
	text-align: start;
}

.about-more {
	text-align: center;
	padding-top: 3rem;
}

.about-more-button {
	border: var(--dark-bg) 2px solid;
	color: var(--dark-bg);
	background-color: var(--white);
	border-radius: 1rem;
	padding: 0.5rem 1rem;
	font-size: 1em;
	cursor: pointer;
	text-decoration: none;
}

.about-more-button:hover,
.about-more-button:focus {
	border: var(--white) 2px solid;
	color: var(--white);
	background-color: var(--dark-bg);
}

/* Journey Section */

.journey-container {
	padding-top: 4rem;
}

.journey-content {
	/* padding-top: 3rem; */
	max-width: 55rem;
	margin: auto;
}

.timeline {
	padding-top: 3rem;
}

.period {
	display: flex;
	justify-content: space-between;
}

.period-connector {
	display: flex;
	flex-flow: column;
}

.period-circle {
	border-radius: 100%;
	border: var(--white) solid 3px;
	width: 5rem;
	height: 5rem;
}

.period-line {
	border: 1px var(--white) dashed;
	flex: 1;
	width: 1px;
	align-self: center;
}

.period-info {
	background-color: var(--dark-bg);

	color: var(--light);
	width: 85%;
	padding: 1.2em;
	box-shadow: inset 2px 2px 8px black;
	border-radius: 2em;
	margin-bottom: 6rem;
}

.period-description {
	font-style: italic;
	font-size: 1.2em;
	color: var(--light);
}

.period-top {
	display: flex;
}

.period-role {
	font-weight: 700;
	font-size: 3em;
}

.period-time {
	background-color: var(--light-bg);
	align-self: center;
	margin-left: auto;
	margin-bottom: auto;
	padding: 0.6em 1.8em;
	border-radius: 1em;
	color: var(--light);
	font-style: italic;
	font-size: 1.5em;
	box-shadow: 2px 2px 8px black;
}

.period-place {
	/* font-style: italic; */
	font-size: 1.8em;
}

/* Projects Section */

.projects-container {
	padding-block: 4rem;
	/* margin: auto; */
}

.projects-content {
	padding-top: 3rem;
	max-width: 70rem;
	margin: auto;
}

.card-row {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
}

.card {
	--transition-time: 900ms;
	--transition-style: cubic-bezier(0.3, 0.9, 0.3, 0.9);
	display: block;
	text-decoration: none;
	background: var(--dark);
	border: 1px var(--dark) solid;
	/* flex: 1; */

	max-width: 20rem;

	position: relative;
	overflow: hidden;
	border-radius: 1rem;

	transition: transform var(--transition-time) var(--transition-style),
		box-shadow var(--transition-time) var(--transition-style);
}

.card-img {
	border-radius: 1rem;
	overflow: hidden;
}

.card-img > img {
	width: 100%;
	aspect-ratio: 1/1;
	scale: 1.2;
}

.card-body {
	position: absolute;
	bottom: 0;
	color: var(--white);

	display: block;
	height: 100%;
	width: 100%;

	box-shadow: inset 0px 0px 2em black;
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));

	transition: var(--transition-time) opacity var(--transition-style);
}

.card-bottom {
	position: absolute;
	bottom: 0;
	padding: 1em;
}

.card-title {
	font-size: 2em;

	transition: var(--transition-time) transform var(--transition-style);

	position: relative;
}

.card-text {
	font-size: 1em;

	transition: var(--transition-time) transform var(--transition-style);
}

.card:hover > .card-body {
	opacity: 0;
}

.card:hover {
	box-shadow: 0 0 5em 0 black;
	transform: scale(1.1);
	z-index: 1;
}

.card:hover > .card-body > .card-bottom > .card-title {
	transform: translateX(-20rem);
}

.card:hover > .card-body > .card-bottom > .card-text {
	transform: translatey(5rem);
}

/* Contact Section */
.contact-form-container {
	padding-block: 4rem;
}

.contact-form-content {
	max-width: 70rem;
	display: flex;
	margin: auto;
	justify-content: space-between;
	/* padding-block: 3rem; */
	gap: 1rem;
}

.contact-form {
	min-width: 30rem;
	overflow: hidden;
	padding: 1rem;
}

.contact-form-text {
	margin-top: 6em;
	padding-left: 1em;
}

.contact-form-text-top {
	font-size: 2.5em;
}

.contact-form-text-mid {
	margin-top: 3em;
	font-size: 1.5em;
}

.form-top > input {
	width: 100%;
	margin-bottom: 0.75em;
}

/* .form-mid {
} */

.form-mid > textarea {
	height: 15em;
	width: 100%;
	resize: none;
	display: block;
	margin: auto;
	/* padding: 1em; */
}

.form-bot {
	justify-content: center;
	padding: 1rem;
	text-align: center;
}

.form-bot > button {
	font-size: 2em;
	background: var(--white);
	border-radius: 2em;
	width: 100%;
	padding: 0.5rem;
	cursor: pointer;

	color: var(--dark);
	border: none;
	border-bottom: gray 6px solid;
	border-left: gray 2px solid;
	border-right: gray 2px solid;
	border-top: none;

	box-shadow: 10px 10px 16px 0 var(--dark-bg);

	/* transition: border 1000ms; */
}

.form-bot > button:active {
	border: 0px;
	transform: translateY(6px);
	margin-bottom: 6px;
	box-shadow: none;
}

.form-input {
	font-size: 1.5rem;
	color: var(--white);
	border: none;
	border-radius: 2rem;
	padding: 0.75em;
	background-color: var(--dark-bg);
	box-shadow: inset 2px 2px 8px black;
}

/* Contact Footer */
.contact-container {
	background: var(--dark);
}

.contact-links {
	margin-inline: 5%;
	font-size: 1em;
	display: flex;
	justify-content: space-around;
	/* gap: 10vw; */
}

.contact-box {
	margin-inline: 5rem;
	padding-block: 0.5rem;
}

.contact-box > .contact-links > a > i {
	font-size: 2em;
}

.contact-link-text {
	margin-left: 0.5em;
	align-self: center;
	font-style: italic;
}

.contact-links > a {
	text-decoration: none;
	display: flex;
	color: var(--white);
	cursor: pointer;
	padding: 0.5rem;
	border-radius: 1rem;
}

.contact-links > a:hover {
	transition: 300ms;
	background-color: var(--light-bg);
}

.contact-links > a > i {
	font-size: 2em;
}

.contact-email-copy {
	padding: 0.75rem;
	margin-top: -4.5rem;
	border-radius: 1rem;
	color: white;
	background-color: var(--dark);
	border: none;
	/* border-bottom: 1rem solid var(--dark); */
}

.arrow-down {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 40%);
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid var(--dark);
}

/* More About Page */

.background-content,
.passions-content,
.technical-content,
.soft-content {
	max-width: 70rem;
	margin: auto;
	padding-block: 4rem;
}

.passions-text,
.technical-text,
.soft-text {
	margin: auto;
	text-align: center;
}

.background-content {
	padding-top: 6rem;
	text-align: justify;
}

.background-text {
	max-width: 45rem;
	margin: auto;
}

.passions-text,
.technical-text,
.soft-text {
	color: var(--light);
}

.passions-box {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	padding-top: 3rem;
	justify-content: center;
}

.passion {
	width: 22rem;
	height: 21rem;
	background-color: var(--light-bg);
	border-radius: 2rem;
	padding: 2rem;
	box-shadow: 2px 2px 8px black;
}

.coding-milestone {
	font-size: 1.25em;
}

.milestone-link {
	color: inherit;
}

.passion-heading,
.technical-heading {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	padding-bottom: 2rem;
}

.passion-description,
.technical-description,
.soft-description {
	color: var(--light);
	text-align: justify;
}

.technical-box {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	padding-top: 3rem;
	justify-content: center;
}

.technical {
	width: 18rem;
	height: 17rem;
	background-color: var(--dark-bg);
	border-radius: 2rem;
	padding: 2rem;
	box-shadow: inset 2px 2px 8px black;
}

.soft-box {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	padding-top: 3rem;
	justify-content: center;
}

.soft {
	width: 23rem;
	height: 17rem;
	background-color: var(--light-bg);
	border-radius: 2rem;
	padding: 2rem;
	box-shadow: 2px 2px 8px black;
}

.soft-heading {
	font-size: 1.6rem;
	text-align: center;
	padding-bottom: 2rem;
}

/* Projects Pages */

.project-about-content,
.project-tools-content,
.project-lessons-content,
.project-links-content {
	max-width: 55rem;
	margin: auto;
	padding-block: 4rem;
}

.project-tools-content {
	max-width: 60rem;
}

.project-tools-container,
.project-links-container {
	background-color: var(--dark-bg);
	box-shadow: inset 0 20px 20px -20px black, inset 0 -20px 20px -20px black;
}

/* .project-about-container {
	padding-top: 2rem;
} */

.project-link-container {
	display: flex;
	flex-direction: row;
}

.project-link-icon {
	font-size: 1.75rem;
}

.project-link-text {
	display: flex;
	align-items: center;
	padding-left: 0.5rem;
	font-size: 0.8rem;
	text-decoration: underline;
	color: var(--light);
}

.project-about-content {
	display: flex;
	color: var(--light);
	font-size: 1.1rem;
	gap: 3rem;
}

.project-heading {
	font-size: 2rem;
	color: var(--white);
	padding-bottom: 1rem;
}

.project-about-text {
	flex: 1;
}

.project-img {
	max-height: 25rem;
	max-width: 25rem;
	aspect-ratio: 1/1;
	border: black solid 2px;
	border-radius: 3rem;
	overflow: hidden;
	background-color: black;
}

.project-img > img {
	width: 100%;
	height: 100%;
	aspect-ratio: 1/1;
	margin: auto;
	scale: 1.2;
}

.project-tool {
	display: flex;
}

.tool-name {
	font-size: 1.2rem;
}

.tool-description {
	color: var(--light);
	display: flex;
	align-items: center;
	padding-left: 0.5rem;
}

.project-tools-icons {
	padding-top: 1rem;
	font-size: 3rem;
	display: flex;
	gap: 1rem;
	justify-content: end;
}

.project-lessons-text {
	color: var(--light);
	font-size: 1.1rem;
}

@media (max-width: 60rem) {
	.navbar {
		display: none;
	}

	.welcome-content,
	.about-content,
	.journey-content,
	.projects-content,
	.contact-form-content {
		max-width: 38rem;
		margin: auto;
	}

	.welcome-container {
		padding-top: 3rem;
		padding-bottom: 5rem;
	}

	.hi {
		padding: 0;
	}

	.photo {
		max-width: 15rem;
		margin-left: 0rem;
	}

	.about-paragraph {
		flex-direction: column;
		gap: 1rem;
	}

	.about1 {
		margin-left: 20%;
	}

	.about2 {
		margin-right: 20%;
	}

	.timeline {
		padding-block: 3rem;
	}

	.period {
		flex-direction: column-reverse;
	}

	.period-info {
		margin: auto;
		width: 90%;
		font-size: 0.8rem;
	}

	.period-circle {
		display: none;
	}

	.period-line {
		flex: 0;
		min-height: 3rem;
	}

	.card-row {
		margin: auto;
		width: 95%;
	}

	.card {
		max-width: 15rem;
	}

	.card-bottom {
		font-size: 0.75rem;
	}

	.contact-form-content {
		flex-direction: column;
	}

	.contact-form-text {
		margin-top: 3em;
	}

	.contact-form {
		padding-inline: 10%;
	}

	.contact-box {
		margin: 0;
	}

	.contact-links {
		font-size: 0.8rem;
	}

	/* More About Page */

	.background-content,
	.passions-content,
	.technical-content,
	.soft-content {
		max-width: 50rem;
		margin: auto;
	}

	/* .passion-description,
	.technical-description,
	.soft-description {
		font-size: 0.75rem;
	} */

	.background-content {
		padding-top: 4rem;
	}

	/* .passions-box {
		gap: 2rem;
	} */

	/* .passion {
		width: 18rem;
		height: 18rem;
		padding: 1rem;
	} */

	.passion-heading {
		padding-bottom: 1rem;
	}

	.technical-box {
		gap: 2rem;
	}

	/* .technical {
		width: 15rem;
		height: 15rem;
		padding: 1rem;
	} */

	/* .soft {
		width: 18rem;
		height: 18rem;
		padding: 1rem;
	} */

	.soft-heading {
		padding-bottom: 1rem;
		font-size: 1.5rem;
	}

	.soft-box {
		gap: 2rem;
	}

	/* Project Pages */

	.project-about-content {
		flex-direction: column-reverse;
	}

	.project-about-content,
	.project-tools-content,
	.project-lessons-content {
		max-width: 38rem;
	}

	.project-img {
		max-width: none;
		max-height: none;
	}

	.project-tool {
		margin-bottom: 1rem;
		display: block;
	}
}
@media (max-width: 40rem) {
	.welcome-content,
	.about-content,
	.journey-content,
	.projects-content,
	.contact-form-content {
		max-width: 19rem;
	}

	.heading {
		font-size: 2rem;
	}

	.photo {
		float: none;
		display: block;
		margin: auto;
		max-width: 90%;
	}

	.hi {
		font-size: 2rem;
	}

	.site-description {
		font-size: 1.2rem;
		padding: 0;
	}

	.about-content {
		font-size: 1rem;
	}

	.about1,
	.about2 {
		margin: 0;
	}

	.period-info {
		font-size: 0.5rem;
		width: 90%;
	}

	.period-role {
		font-size: 2.4em;
	}

	.period-time {
		padding: 0.6em 1.2em;
	}

	.contact-form {
		min-width: 5rem;
		padding: 0 10%;
	}

	.contact-form-text {
		font-size: 0.75rem;
	}

	.contact-form-text-top {
		font-size: 2em;
	}

	.form-input {
		font-size: 1rem;
	}

	.form-mid > textarea {
		padding: 1em;
		border-radius: 1.5em;
	}

	.form-bot > button {
		font-size: 1rem;
		width: 60%;
	}

	.contact-form-container {
		padding-bottom: 1rem;
	}

	.contact-form-text-mid {
		margin-top: 1em;
		font-size: 1.2em;
	}

	.contact-link-text {
		display: none;
	}

	/* More About Page */

	.background-text {
		margin: 0.5rem;
	}

	/* Project Pages */
	.project-about-content,
	.project-tools-content,
	.project-lessons-content {
		max-width: 18rem;
	}

	.project-about-text,
	.project-tools-text,
	.project-lessons-text {
		font-size: 0.75rem;
	}

	.project-heading {
		font-size: 1.75rem;
	}
}
/* 
40rem - phone
60rem - tablet
80rem - tablet landscape
120rem - desktop
*/
